:root {
  /* MEASUREMENT */
  --radius-lg: 8px;
  --radius-med: 6px;
  --radius-round: 250px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --space-1: 4px;
  --space-10: 56px;
  --space-11: 64px;
  --space-12: 80px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 40px;
  --space-9: 48px;
}
